@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.svg-hover:hover {
  filter: invert(98%) sepia(3%) saturate(1353%) hue-rotate(191deg)
    brightness(100%) contrast(94%);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .computers-svg {
    /* Styles for small devices */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}



